:root {
    --bgPrimary :  #FBF6F2;
    --bgSecondary :  #161616;
    --bgThird : #5A3E36;
    --shadow : 0 2px 2px rgba(0,0,0,0.5)
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    height: 500vh;
}

/* transition effect start */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-in-out;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

.hidden-left {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 1s ease-in-out;
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/* Transition Effect End */


/* Hero Section Start */
.hero {
    font-size: 1.2rem;
    font-family: 'Playfair Display';
    text-shadow: var(--shadow);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    padding: 3px;
    margin: 0 auto;
    text-align: center;
    background-image: url('assets/img/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero .main-hero h1 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 600;

}

.hero .main-hero h2 {
    font-family: 'Great Vibes';
    letter-spacing: 4px;
    font-size: 4rem;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 2rem;
}

.hero .main-hero p {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.4rem;
}

/* Countdown Start */
.hero .main-hero .countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    gap: 20px;
}

.hero .main-hero .countdown .timer {
    background-color: var(--bgPrimary);
    text-shadow: var(--shadow);
    color:#3D2C23 ;
    font-size: 2rem;
    font-family: 'PLayfair Display';
    border: 2px solid var(--bgPrimary);
    padding: 10px 30px 25px 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* countdown End */

.hero .main-hero a {
    font-family: 'Open Sans', sans-serif;
    text-shadow: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--bgPrimary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #5A3E36;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.hero .main-hero a:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7); /* Sedikit lebih terang saat hover */
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgb(44, 44, 44);
    text-shadow: none;   
}
/* Hero Section End */

/* About Us Section Start */
.about-us {
    padding-top: 3rem;
    background-color: var(--bgPrimary);
    height: 30%;
    box-sizing: border-box;
}

.about-us .main-about-us {
    display: flex;
    flex-direction: column;
}

.about-us .main-about-us h1::after {
    content: "";
    position: absolute;
    background-color: var(--bgSecondary);
    width: 50px;
    height: 2px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.about-us .main-about-us h1 {
    position: relative;
    font-family: "Allura", cursive;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
}

/* About The Bride Start */
.about-us .main-about-us img {
    border-radius:0 30px 30px 30px ;
    box-shadow: var(--shadow);
    height: 450px;
    width: 300px;
    -webkit-border-radius:0 30px 30px 30px ;
    -moz-border-radius:0 30px 30px 30px ;
    -ms-border-radius:0 30px 30px 30px ;
    -o-border-radius:0 30px 30px 30px ;
}

.about-us .main-about-us .about-bride {
    margin: 70px 0 0 120px;
    display: flex;
}

.about-us .main-about-us .about-bride .about-bride-text {
    padding: 60px 0 0 80px;
    position: relative;
}


.about-us .main-about-us .about-bride .about-bride-text h2 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.9rem;
    background-color: rgba(27, 27, 27, 0.158);
    width: 5rem;
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.about-us .main-about-us .about-bride .about-bride-text h3 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.about-us .main-about-us .about-bride .about-bride-text p {
    font-family: 'Open Sans';
    font-weight: 400;
    max-width: 70%;
}

.about-us .main-about-us .about-bride .social-media-bride {
    display: flex;
    gap: 15px;
    margin-top: 25px;

}

.about-us .main-about-us .about-bride .social-media-bride img {
    width: 30px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* About The Bride End */

/* About The Groom Start */

.about-us .main-about-us .about-groom {
    margin: 150px 120px 0 0;
    display: flex;
    justify-content: flex-end;
}

.about-us .main-about-us .about-groom .about-groom-text {
    display: flex;
    flex-direction: column;
}

.about-us .main-about-us .about-groom .about-groom-text h4{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.9rem;
    background-color: rgba(27, 27, 27, 0.158);
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 80px;
    width: fit-content;
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.about-us .main-about-us .about-groom .about-groom-text h5 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 10px;
    margin-right: 80px;
    margin-left: auto;
}

.about-us .main-about-us .about-groom .about-groom-text p {
    font-family: 'Open Sans';
    font-weight: 400;
    max-width: 70%;
    margin-left: auto;
    margin-right: 80px;

    text-align: end;
}

.about-us .main-about-us .about-groom .social-media-groom {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 80px;

}

.about-us .main-about-us .about-groom .social-media-groom img {
    width: 30px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* About Us Seciton End */

.location {
    background-color: var(--bgThird);
    height: 100vh;
}


/* Ukuran Laptop */
@media screen and (max-width: 1366px) {
    .about-us {
        height: 40%;
    }
    
}



/* Ukuran HP Kecil */
@media screen and (max-width : 480px) {

    .hero .main-hero h1{
        font-size: 1rem;
    }

    .hero .main-hero h2 {
        font-size: 3.2rem;
    }

    .hero .main-hero p {
        font-size: 1rem;
    }
    
    /* Countdown Start */
    .hero .main-hero .countdown {
        margin-bottom: 6rem;
        gap: 20px;
    }

    .hero .main-hero .countdown .timer {
        font-size: 1.3rem;
        border: 2px solid var(--bgPrimary);
        padding: 10px 25px 20px 25px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
/* countdown End */

    /* About Us Section Start */
    .about-us {
        height: 25%;
    }

    /* About The Bride Start */
    .about-us .main-about-us img {   
        height: 250px;
        width: 150px;
    }

    .about-us .main-about-us .about-bride {
        margin: 130px 0 0 40px;
    }

    .about-us .main-about-us .about-bride .about-bride-text {
        padding: 0 0 0 20px;
    }


    .about-us .main-about-us .about-bride .about-bride-text h2 {
        font-size: 0.8rem;
        width: fit-content;
        padding: 7px;
    }

    .about-us .main-about-us .about-bride .about-bride-text h3 {
        font-size: 1.8rem;
    }

    .about-us .main-about-us .about-bride .about-bride-text p {
        max-width: 85%;
        font-size: 0.8rem;
    }

    .about-us .main-about-us .about-bride .social-media-bride {
        gap: 10px;
    }

    .about-us .main-about-us .about-bride .social-media-bride img {
        width: 25px;
        height: 25px;
    }
    /* About The Bride End */

    /* About The Groom Start */

    .about-us .main-about-us .about-groom {
        margin: 150px 40px 0 0;
    }

    .about-us .main-about-us .about-groom .about-groom-text h4{
        font-size: 0.8rem;
        margin-right: 20px;
        padding: 7px;
    }

    .about-us .main-about-us .about-groom .about-groom-text h5 {
        font-size: 1.8rem;
        text-align: end;
        margin-right: 20px;
    }

    .about-us .main-about-us .about-groom .about-groom-text p {
        max-width: 90%;
        margin-right: 20px;
        font-size: 0.8rem;
    }

    .about-us .main-about-us .about-groom .social-media-groom {
        gap: 10px;
        margin-right: 20px;

    }

    .about-us .main-about-us .about-groom .social-media-groom img {
        width: 25px;
        height: 25px;
    }
    /* About Us Seciton End */

    
}